// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

/* Colors */

/* Elsődleges */
$brand-01: #1F4287 ;
$brand-02: #1C315A ;
$brand-03: #F0F3F6 ;
$brand-04: #5AAAFA ;
$ui-light: #DFE3E6 ;
$ui-dark:  #707070 ;
$ui-link:  #00597B ;
$ui-blue:  #4E83A8 ;
$text-01:  #FFFFFF ;
$text-02:  #627580 ;
$text-03:  #313B40 ;
$text-04:  #1E2326 ;

$bg-megamenu: #D3E0E9 ;
$bg-black: #313B40 ;
$bg-karok: #4E4077 ;

/* Másodlagos */
$ui-alert:   #F4E42C ;
$ui-wrong:   #DB3737 ;
$ui-right:   #61C230 ;
$ui-red:   #C35656 ;
$ui-orange:   #EB9050 ;
$ui-green:   #92B558 ;

/* Karok */
$AOK-dark:   #385974 ;
$AOK-normal:   #4D9DE0 ;
$AOK-pale:   #BCD4E8 ;
$AOK-pastel:   #598BB5 ;
$PHD-dark:   #733763 ;
$PHD-normal:   #B76BA3 ;
$PHD-pale:   #E8BCDC ;
$PHD-pastel:   #D28ABF ;
$EKK-dark:   #37736F ;
$EKK-normal:   #00C7B9 ;
$EKK-pale:   #BCE8E5 ;
$EKK-pastel:   #59B5AF ;
$FOK-dark:   #5E7337 ;
$FOK-normal:   #64950B ;
$FOK-pale:   #D8E8BC ;
$FOK-pastel:   #94B559 ;
$ETK-dark:   #733737 ;
$ETK-normal:   #C34242 ;
$ETK-pale:   #E8BCBC ;
$ETK-pastel:   #B55959 ;
$GYTK-dark:   #735A37 ;
$GYTK-normal:   #DD8815 ;
$GYTK-pale:   #E8D6BC ;
$GYTK-pastel:   #B58F59 ;
$PAK-dark:   #733741 ;
$PAK-normal:   #885059 ;
$PAK-pale:   #E8BCC3 ;
$PAK-pastel:   #B55968 ;

/* Szöveg */
$text-light-black:  #333333;
$text-white:        #FFFFFF;
$text-black:        #000000;
$text-light-grey:   #F9F9F9;
$text-dark-blue:    #00597B;
$text-dark-grey:    #424446; 
$text-grey:         #566770;

$text-body:         #1E2326;
$text-title:        #313B40;
$text-nekrolog:     #BCC1C5;
